.sign-in{
    color: #504E4D;
    font-weight: 500;
    display: inline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.enter-data{
    border: 2px solid #F96C6C;
    margin-top: 30px;
    height: 30px;
    width: 500px;
    border-radius: 8px;
}