
.left-side{
    font-size: 17px;
}

.right-side{
    font-size: 17px;
    color: darkgrey;
    font-weight: 500;
    display: inline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 920px;
}

.left-1{
    color: darkgrey;
    font-weight: 500;
    display: inline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.left-2{
    color: #504E4D;
    font-weight: 500;
    display: inline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-box{
    display: inline;
    align-items: center;
    
}



.heading1{
    font-weight: 600;
    font-size: 55px;
    display: inline-block; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-left: 150px;
}

.heading2{
    font-weight: 100;
    font-size: 55px;
    display: inline-block; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkgrey;
    text-align: center;
    margin: auto;

}

.heading3{
    font-weight: 400;
    font-size: 35px;
    display: inline-block; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkgrey;
    margin-left: 600px;
   
}

.image{
    width: 25px;
    height: 25px;
    margin-top: 13px;
}

.content{
    margin-left: auto;
    display: inline-flex;
    justify-content: safe;
    flex-wrap: wrap;

}

.box{
    border: 2px solid #F96C6C ;
    border-radius: 10px;
    width: 200px;
    height: 300px;
    margin-left: 150px;
    margin-right: 100px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    box-shadow: 2px 2px 8px gray,;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box-heading{
    font-size: 25px;
    color: #F96C6C;
    align-items: center;
    border-bottom:#F96C6C ;
    margin: auto;
    width:85%;
    text-decoration: underline solid darkgrey;
}

.line{
    text-decoration: line-through solid red;
    color: red;
    font-size: 17px;
    text-align: center;
}

.check-box{
    text-align: center;
    font-size: 17px;
}

.sign-in{
    color: black;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer-box{
    display: inline-flex; 
}


.footer{
    margin-top: 70px;
    display: inline-flex;
    justify-content: center;
    width: 120px;
    height: 50px;
    align-items: center;
    margin-left: 35px;
    margin-right: 35px;
    background-color: #F96C6C;
    color: whitesmoke;
    border-radius: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.footer:hover{
    width: 135px;
    height: 60px;
    background-color: #f33b3b;
    cursor: pointer;
}

.footer:active{
    background-color: crimson;
}

.blur-box{
    filter: blur(3px);
    pointer-events: none;
    user-select: none;
    position: absolute;
    margin-left: 560px;
    
}


.blur-box1{
    filter: blur(3px);
    pointer-events: none;
    user-select: none;
    position: absolute;
   
}
